{# route de l'annonce #}
{% set route = path('annonces_show', {'slug': annonce.slug}) %}
<div class="col-md-4">
    <div class="card bg-light mb-3">
        {# header de la card #}
        <div class="card-header text-center">
            {{ annonce.rooms }}
            chambre(s),
            <strong>{{ annonce.price  | number_format(2,',',' ')  }}
                &euro; /nuit</strong>
            <br>
            <small>
                {% set nbComments = annonce.comments | length %}
                {% if nbComments > 0 %}
                    {% include 'partials/rating.html.twig' with {
                        'rating' : annonce.getAvgRatings
                    } %}
                    <br>
                    <span>{{ nbComments }}
                        commentaire{% if nbComments > 1 %}s{% endif %}
                        </span>
                {% else %}
                    Pas encore noté
                {% endif %}

            </small>
        </div>
        <a href="{{route}}">
            <img src=" {{ annonce.coverImage}} " alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
        </a>
        {# corps de la card #}
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{route}}">
                    {{annonce.title}}
                </a>
            </h4>
            <p class="card-text">{{ annonce.introduction }}</p>
            <a href="{{route}}" class="btn btn-primary float-right">En savoir plus</a>
            {% if app.user and annonce.author is same as(app.user) %}
                <a href="{{ path('annonces_edit', {'slug': annonce.slug })}}" class="btn btn-secondary">Modifier</a>
            {% endif %}
        </div>
    </div>
</div>