{# route de l'annonce #}
{% set route = path('annonces_show', {'slug': annonce.slug}) %}
<div class="col-md-3">
    <div class="card bg-light mb-3">
        {# header de la card #}
        <div class="card-header text-center">
            {{ annonce.rooms }}
            chambre(s),
            <strong>{{ annonce.price }}
                &euro; /nuit</strong>
            <br>
            <small>Pas encore noté</small>
        </div>
        <a href="{{route}}">
            <img src=" {{ annonce.coverImage}} " alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
        </a>
        {# corps de la card #}
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{route}}">
                    {{annonce.title}}
                </a>
            </h4>
            <p class="card-text">{{ annonce.introduction }}</p>
            <a href="{{route}}" class="btn btn-secondary">En savoir plus</a>
        </div>
    </div>
</div>