{% extends 'base.html.twig' %}
{% block title %}
    Création d'une annonce
{% endblock %}
{# on précise ici qu'il va falloir utiliser un thème pour le formulaire "formNewAnnonce" qui est dans ce fichier #}
{% form_theme formAnnonce 'annonce/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Créer une nouvelle annonce</h1>
        {{form_start(formAnnonce)}}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Informations générales</h2>
                    {{form_row(formAnnonce.title)}}
                    {{form_row(formAnnonce.slug)}}
                    {{form_row(formAnnonce.price)}}
                    {{form_row(formAnnonce.rooms)}}
                    <hr>
                </div>
                <div class="alert alert-light">
                    <h2>Détail de l'annonce</h2>
                    <hr>
                    {{form_row(formAnnonce.introduction)}}
                    {{form_row(formAnnonce.content)}}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2>Images de l'annonce</h2>
                    {{form_row(formAnnonce.coverImage)}}
                    {{form_row(formAnnonce.images)}} {# ici le sous formulaire des images de l'annonce#}
                </div>
            </div>
        </div>
        <div class="alert alert-success clearfix">
        <h2 class="alert-heading">Sauvegarder votre annonce</h2>
            <p>Vous êtes sur le point de créer votre annonce</p>
            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-check"></i>
            Créer l'annonce</button>
        </div>
        {{form_end(formAnnonce)}}
    </div>
{% endblock %}

{% block javascripts %}

    <script src="/js/ad.js"></script>

{% endblock %}