{% extends 'admin/base.html.twig' %}

{% block title %}Administration des réservations{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="m-5">Gestion des réservations</h1>
        <table class="table table-hover mt-5 ">
            <thead>
                <tr>
                    <th class="text-center">N°</th>
                    <th class="text-center">Créée le</th>
                    <th class="text-center">Client</th>
                    <th class="text-center">Date début</th>
                    <th class="text-center">Date fin</th>
                    <th class="text-center">Montant</th>
                    <th class="text-center">Note</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            {% for booking in pagination.data %}
                <tr class="align-middle">
                    <td>{{booking.id}}</td>
                    <td>{{booking.createdAt|date('d-m-Y H:i')}}
                    </td>
                    <td><img src="{{booking.booker.picture}} " alt="Avatar de {{booking.booker.fullName}}" class="avatar avatar-mini">
                        {{booking.booker.fullName}}</td>
                    <td>{{booking.startDate|date('d-m-Y')}}
                    </td>
                    <td>{{booking.endDate|date('d-m-Y')}}
                    </td>
                    <td>{{booking.amount|number_format('2',',',' ')}}
                        &euro;
                    </td>
                    <td>
                        {% if booking.annonce.getCommentFromAuthor(booking.booker)is null %}
                            Non encore noté !
                        {% else %}
                            {% include 'partials/rating.html.twig' with {
                                'rating' : booking.annonce.getCommentFromAuthor(booking.booker).rating
                            } %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{path('admin_booking_edit', {'id': booking.id})}} ">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{path('admin_booking_delete', {'id': booking.id})}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {# inclusion de la pagination #}
    {{pagination.display()}}
    </div>
{% endblock %}